/* general rules */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

span {
    padding: 10px;
}


/* end general rules */
/* content */
.containerh {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    height: 20vh;
    color: aliceblue;
}

.containerh>div {
    padding: 20px 80px 0px 80px;
}

header {
    background-color: hsl(224deg 74% 54%);
}


.actions {
    max-width: 500px;
    text-align: center;
    margin: 0 auto;
    color: aliceblue;


}

/* end content */